.fabs {
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0;
    z-index: 998;
}
.fab_prime {
    display: block;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
}

.chat {
    position: fixed;
    right: 4px;
    bottom: 80px;
    width: 390px;
    opacity: 0;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    transition: all .2s ease-in-out;
}
.chat.is-visible {
    opacity: 1;
    -webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
    -moz-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
    -o-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
}
@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0.0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
