{
    "openapi": "3.0.0",
    "info": {
        "title": "Main",
        "description": "Joy VoyagerApi module adds REST Api end points to Voyager with Passport and Swagger support https:\/\/github.com\/rxcod9\/joy-voyager-api.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/user.uz",
            "description": "Primary API Server"
        },
        {
            "url": "http:\/\/servboxvoyager",
            "description": "Another API Server"
        }
    ],
    "paths": {
        "\/api\/blog-news": {
            "get": {
                "tags": [
                    "Blog News"
                ],
                "summary": "Blogs",
                "operationId": "3b7ff65ea7f758f5cd712df2a0e2ed2f",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/blog-news\/{blogNew}": {
            "get": {
                "tags": [
                    "Blog News"
                ],
                "summary": "Blogs",
                "operationId": "d903254e072b5efc2e7e395a3340c9e8",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/categories": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Get list of Category",
                "operationId": "f923daf680ac66deb18bd56437ca2a23",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/category\/search": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Search Category by name",
                "operationId": "c177ab8a25cbaa55ef98e7ebdbc848a7",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/categories-parent": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Get All Categories",
                "operationId": "e8afb8bb1052e6310214fc871fcbe225",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/categories\/{id}": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Get category by show ID",
                "operationId": "87e7cd6fb3ae11d4904e035f70299857",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/faq": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "faqs",
                "operationId": "57c4fa7ceebfb20a59c69528a9a7067e",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/account\/verification\/phone": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "summary": "Verification phone",
                "operationId": "3fe3e97c01c6204997ab62e7f3323789",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/performers": {
            "get": {
                "tags": [
                    "Performers"
                ],
                "summary": "Get All Performers",
                "operationId": "731347e6f7c873d149bc292778b4f161",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/performers\/{performer}": {
            "get": {
                "tags": [
                    "Performers"
                ],
                "summary": "Get Performer By ID",
                "operationId": "be33fb1d00766c364214bb291f26b42d",
                "parameters": [
                    {
                        "name": "performer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/give-task": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Give task by task ID and perfomer ID",
                "operationId": "0e31576c4838d8c9e29c2b0bcee2c3d6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "performer_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/become-performer": {
            "post": {
                "tags": [
                    "Become a perfomer"
                ],
                "summary": "Initial Data",
                "operationId": "fe1fd424a52f6bd274c86a35afdb3af3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "born_date": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/become-performer-phone": {
            "post": {
                "tags": [
                    "Become a perfomer"
                ],
                "summary": "Email and phone",
                "operationId": "4e36926672cf6bed00d3fb3ef9dfd4a5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "phone_number": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/become-performer-avatar": {
            "post": {
                "tags": [
                    "Become a perfomer"
                ],
                "summary": "Avator",
                "operationId": "a6e205e8c105f40204264bda896100e3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "avatar": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/become-performer-category": {
            "post": {
                "tags": [
                    "Become a perfomer"
                ],
                "summary": "Categories",
                "operationId": "8623a4ddae7b115758739689a990bac0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "category_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/reviews": {
            "get": {
                "tags": [
                    "Performers"
                ],
                "summary": "Performer reviews",
                "operationId": "39fe6b6c9cc58a3d62c2fcc1afb079a5",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile index",
                "operationId": "19ddc09c48f45c607be87bb06f16e8e5",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/portfolios": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile portfolios",
                "operationId": "b08af21d9d4afac7fda0837d32bed96a",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/portfolio\/create": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Portfolio Create",
                "operationId": "c316161132765a3101ed0f60d41eb4b0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "comment": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/portfolio\/{portfolio}\/delete": {
            "post": {
                "tags": [
                    "Search"
                ],
                "summary": "Delete Portfolio",
                "operationId": "4beaea32f869fca3ce1ebdd28bea741e",
                "parameters": [
                    {
                        "name": "portfolio",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/portfolio\/{portfolio}\/update": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Portfolio Update",
                "operationId": "6758dab46aaff08b0a2c1941a644db24",
                "parameters": [
                    {
                        "name": "portfolio",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "comment": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/video": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile Video Store",
                "operationId": "875497f3ddebc235c38fec2108481b13",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "link": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/video\/delete": {
            "delete": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile video delete",
                "operationId": "8fa2ad0b628f81d0a4f380ca2c372b98",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/reviews": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile reviews",
                "operationId": "c02ca91f7f8ebd758830ee20374f4359",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/balance": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile balance",
                "operationId": "ffb780005820a138a39000733724063e",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/phone": {
            "get": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Phone",
                "operationId": "a3ac77aaf9402239a257a48f9d80bfbd",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/phone\/edit": {
            "post": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Phone edit",
                "operationId": "8a03e4fd8a84f96e1588b87a09233f57",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "phone_number": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/password\/change": {
            "post": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Change password",
                "operationId": "dc0486c41591cf176514f18ee69fce2e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "old_password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/change-avatar": {
            "post": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Change Avator",
                "operationId": "0eed7901dca85c5175305075ba95f121",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "avatar": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/update": {
            "post": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Update settings",
                "operationId": "827c0d8a45f51d307cc762dd318efd27",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "gender": {
                                        "description": "1 yoki 0",
                                        "type": "integer"
                                    },
                                    "born_date": {
                                        "description": "2022-06-03 12:00:0 - manashu formatda kiritiladi",
                                        "type": "string"
                                    },
                                    "age": {
                                        "type": "integer"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "location": {
                                        "description": "Bo`sh qoldirsa boladi",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings": {
            "get": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Your profile data",
                "operationId": "149dc7b997029ed7e11d952595dd9023",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/description\/edit": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profile edit description",
                "operationId": "939d0a485408db6dea4775fe847e4498",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/notifications": {
            "post": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Profile edit description",
                "operationId": "895f5a03086cd836dad741774d397045",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "notification": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/{id}": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get Profile By ID",
                "operationId": "62efd8334f3e8c1a8cab4873f37ff991",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/profile\/{user}\/portfolios": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "User Portfolios",
                "operationId": "661f056cfbfce5a26b547cfce303e0f1",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/profile\/{user}\/reviews": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "User Reviews",
                "operationId": "8388b31fa583afb948fcf3b06da0cad0",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/profile\/categories-subscribe": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Category subscribe",
                "operationId": "ed40fa4dc77c64d3c7eec3ca05bd6c49",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/settings\/change-lang": {
            "post": {
                "tags": [
                    "Profile Settings"
                ],
                "summary": "Change lang",
                "operationId": "191e78550fc415c74b5e6074f70b6c35",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "lang": {
                                        "description": "ru yoki uz",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/self-delete": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Self delete",
                "operationId": "7dc0f630957b354ddd34abcf6e8485df",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/confirmation-self-delete": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Confirmation self delete",
                "operationId": "d772f044c8eb16987d7aac64b23149a5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "description": "confirmation code",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/report-user": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Report user",
                "operationId": "a6eef80807926aa7db5e178e24a565f7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "reported_user_id": {
                                        "description": "Reported user id",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "Report message",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/block-user": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Block user",
                "operationId": "c7b81d487d2c5f4060e59cd029263ad7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "blocked_user_id": {
                                        "description": "Blocked user id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/block-user-list": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Block user list",
                "operationId": "d7e103dcdbc5cc19f9c19caee50813eb",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/cancel-task\/{task}": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Cancel task",
                "operationId": "944cec1020f1a50a6505c7a95c5ef68a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "description": "Task id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/delete-task\/{task}": {
            "delete": {
                "tags": [
                    "Task"
                ],
                "summary": "Delete Task",
                "operationId": "769179127b589bbb0f0b9354fa5a4744",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/sessions": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get all sessions",
                "operationId": "0e6aca50933f7d4e8ab544ae8cc5f298",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/profile\/clear-sessions": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Clear sessions without current session",
                "operationId": "d4fee904baed9a7e54d6501e3da45fa3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "session_id": {
                                        "description": "Current session id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/social-login": {
            "post": {
                "tags": [
                    "Socials"
                ],
                "summary": "Socials Google and Facebook",
                "operationId": "35999b01d9fe87e696c04c8f0c0ab6be",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "type": {
                                        "description": "0 - bu Google",
                                        "type": "integer"
                                    },
                                    "access_token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/same-tasks\/{task}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Same tasks by Task ID",
                "operationId": "120ccd09ca7a2be2153ee7a0f2655447",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/responses\/{task}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Response tasks",
                "operationId": "e40467954638499de8484738d2359d0c",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/task\/{task}\/response": {
            "post": {
                "tags": [
                    "Responses"
                ],
                "summary": "Send Response",
                "operationId": "72b3712b916c380767bb13875dd42339",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "integer"
                                    },
                                    "notificate": {
                                        "description": "0 - xabar kelmasin, 1 - xabar kelsin",
                                        "type": "integer"
                                    },
                                    "not_free": {
                                        "description": "0 - bepul, 1 - pullik",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/select-performer\/{response}": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Select performer",
                "operationId": "9dd3e944aa88b5922c3327499f09f3d5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "response": {
                                        "description": "Task response id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/task-status-update\/{task}": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Cancel Status Open",
                "operationId": "79d9075a6ad30708fa4006689a779a3c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "description": "Task id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/tasks-filter": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Task filter",
                "operationId": "01811c7639caa6a28b67d031f8c8be43",
                "parameters": [
                    {
                        "name": "categories",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "budget",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_remote",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "without_response",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "difference",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/task\/{task}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get Task By ID",
                "operationId": "f81261f5febbe5e9edecf62e8b165e8f",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "\/api\/my-tasks-count": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get My Tasks Count",
                "operationId": "72718dc806703c197699e0f060cb0935",
                "parameters": [
                    {
                        "name": "is_performer",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/my-tasks": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get My Tasks",
                "operationId": "1a716f0c34b249580b5d4194baa5f168",
                "parameters": [
                    {
                        "name": "is_performer",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/name": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create name",
                "operationId": "2b3304f727d506c6f5e2b2f18620fad4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/custom": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create custom",
                "operationId": "b3c4b3eed494f92d6f21515814270c5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/remote": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create remote",
                "operationId": "f63a7fc1a92d1ac0de6a19861ed0ff02",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "radio": {
                                        "description": "Agar udallonna bolsa - remote, manzil bo`yicha bo`lsa - address deb yozing",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/address": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create address",
                "operationId": "43ea22831bbc2e1f7f952dd6d595d686",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "points[]": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "location": {
                                                    "type": "string"
                                                },
                                                "latitude": {
                                                    "type": "number"
                                                },
                                                "longitude": {
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/date": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create date",
                "operationId": "2c0799ac97b6e370ccf3fd2c7b950543",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "date_type": {
                                        "description": "1 dan 3 gacha bersa bo`ladi",
                                        "type": "integer"
                                    },
                                    "start_date": {
                                        "description": "2022-06-03 12:00:0 - manashu formatda kiritiladi",
                                        "type": "string"
                                    },
                                    "end_date": {
                                        "description": "2022-06-03 12:00:0 - manashu formatda kiritiladi",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/budget": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create budget",
                "operationId": "d549c5a1835dd9e9de6fc88580c9a09b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "amount": {
                                        "type": "number"
                                    },
                                    "budget_type": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/note": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create note",
                "operationId": "2f27920cad19f7e030fad94789966187",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "docs": {
                                        "description": "true - 1, false - 0",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/images": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create images",
                "operationId": "0a245f8d9ae4a7502c9b42ba20ef460e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "images": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/contacts": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create contacts",
                "operationId": "02fdcf7814dd7330f8b8aee563d8c488",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "phone_number": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/create-task\/verify": {
            "post": {
                "tags": [
                    "Task Create"
                ],
                "summary": "Task create verify",
                "operationId": "5c30ad02ae60c0326cff97b318c14178",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "phone_number": {
                                        "type": "integer"
                                    },
                                    "sms_otp": {
                                        "description": "Telefonga kelgan SMS code",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/name": {
            "post": {
                "tags": [
                    "Task Update"
                ],
                "summary": "Task update name",
                "operationId": "01ba07b06489fb80b56b7d4ccd021d00",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/custom": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Update task custom fields",
                "operationId": "6d2ea2ac629840b489e9d8204435961d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "custom_field_id": {
                                        "description": "Current session id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/remote": {
            "post": {
                "tags": [
                    "Task Update"
                ],
                "summary": "Task update remote",
                "operationId": "b22dace447e9e3b5e97303692ce94035",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "radio": {
                                        "description": "Agar udallonna bolsa - remote, manzil bo`yicha bo`lsa - address deb yozing",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/address": {
            "post": {
                "tags": [
                    "Task Update"
                ],
                "summary": "Task update address",
                "operationId": "e27a0257c8a292d549b1ba74b5cee07b",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "latitude": {
                                        "type": "number"
                                    },
                                    "longitude": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/date": {
            "post": {
                "tags": [
                    "Task Update"
                ],
                "summary": "Task update date",
                "operationId": "72daf2dbd3ef6c374439a5abe9dbf4c3",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "date_type": {
                                        "description": "1 dan 3 gacha bersa bo`ladi",
                                        "type": "integer"
                                    },
                                    "start_date": {
                                        "description": "2022-06-03 12:00:0 - manashu formatda kiritiladi",
                                        "type": "string"
                                    },
                                    "end_date": {
                                        "description": "2022-06-03 12:00:0 - manashu formatda kiritiladi",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/budget": {
            "post": {
                "tags": [
                    "Task Update"
                ],
                "summary": "Task update budget",
                "operationId": "1bcbf434f63bd2bd250529afca61a8b2",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "amount": {
                                        "type": "number"
                                    },
                                    "budget_type": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/note": {
            "post": {
                "tags": [
                    "Task Update"
                ],
                "summary": "Task update note",
                "operationId": "5d1f767fcba09f5ed34253c47068ae0c",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "properties": {
                                    "task_id": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "docs": {
                                        "description": "true - 1, false - 0",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "\/api\/update-task\/{task}\/images": {
            "post": {
                "tags": [
                    "Task Update"
                ],
[...]
