{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel",
        "description": "Joy VoyagerApi module adds REST Api end points to Voyager with Passport and Swagger support https://github.com/rxcod9/joy-voyager-api.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://user.uz",
            "description": "Primary API Server"
        },
        {
            "url": "http://youdo.test",
            "description": "Another API Server"
        }
    ],
    "paths": {
        "/api/categories": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Get list of Category",
                "operationId": "f923daf680ac66deb18bd56437ca2a23",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/category/search": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Search Category by name",
                "operationId": "c177ab8a25cbaa55ef98e7ebdbc848a7",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/categories-parent": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Get All Categories",
                "operationId": "e8afb8bb1052e6310214fc871fcbe225",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "CategoryAPI"
                ],
                "summary": "Get category by show ID",
                "operationId": "87e7cd6fb3ae11d4904e035f70299857",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/custom-field-by-category/{category}": {
            "get": {
                "tags": [
                    "CustomField"
                ],
                "summary": "Get Custom fields By Category ID",
                "operationId": "e956115f36720800b5ead04cf0f4daaf",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/custom-field-values-by-task/{task}": {
            "get": {
                "tags": [
                    "CustomField"
                ],
                "summary": "Get Custom field Values by Task ID",
                "operationId": "96cd8e7408acc1e566878f63b37eff19",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/faq": {
            "get": {
                "tags": [
                    "FaqAPI"
                ],
                "summary": "Get of FAQ",
                "operationId": "627dff87644e5af795264e88d68c6a93",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/faq/{id}": {
            "get": {
                "tags": [
                    "FaqAPI"
                ],
                "summary": "Get of questions in FAQ",
                "operationId": "e8a9316af66afa96c1b26831bbb0c5f2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/account/verification/email": {
            "get": {
                "tags": [
                    "LoginAPI"
                ],
                "summary": "Email verification",
                "operationId": "93b3118bb0818d1dcb1bb1be3dbb8e06",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/account/verification/phone": {
            "get": {
                "tags": [
                    "LoginAPI"
                ],
                "summary": "Phone verification",
                "operationId": "6d69dfb7137ac44458f283488e08818f",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "LoginAPI"
                ],
                "summary": "Verification phone",
                "operationId": "3fe3e97c01c6204997ab62e7f3323789",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/account/change/email": {
            "post": {
                "tags": [
                    "LoginAPI"
                ],
                "summary": "Change email",
                "operationId": "e4f3c97d90cbbf1a6ea9e302c3aabc16",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/account/change/phone": {
            "post": {
                "tags": [
                    "LoginAPI"
                ],
                "summary": "Change phone number",
                "operationId": "e869367af6b12b9b98bc07deb3f324f6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "phone_number": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/press": {
            "get": {
                "tags": [
                    "MassmediaAPI"
                ],
                "summary": "Get list of Massmedia",
                "operationId": "0fa13637ece57023fae30034c3834745",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/performers": {
            "get": {
                "tags": [
                    "PerformersAPI"
                ],
                "summary": "Get All Performers",
                "operationId": "731347e6f7c873d149bc292778b4f161",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/performers/{performer}": {
            "get": {
                "tags": [
                    "PerformersAPI"
                ],
                "summary": "Get Performer By ID",
                "operationId": "be33fb1d00766c364214bb291f26b42d",
                "parameters": [
                    {
                        "name": "performer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/profile/pro": {
            "get": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Your profile",
                "operationId": "c9ee16d35ab0bfb2689bdc9772de9c25",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/password/change": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Change password",
                "operationId": "c06fc7a558675fb5c831d01488fb7ed1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "old_password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/change-avatar": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Change Avator",
                "operationId": "e24aca199c98465326996bbe44e2d7f0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/settings/update": {
            "post": {
                "tags": [
                    "PorfolioAPI"
                ],
                "summary": "Update settings",
                "operationId": "827c0d8a45f51d307cc762dd318efd27",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "age": {
                                        "type": "integer"
                                    },
                                    "phone_number": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "location": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/cash": {
            "get": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Your cash",
                "operationId": "d56031e1533a8e80176a21212f83e14c",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/settings": {
            "get": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Your profile data",
                "operationId": "149dc7b997029ed7e11d952595dd9023",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/sessions/clear": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Session clear",
                "operationId": "019d9b4c7d79b28adaec0034b340e709",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/delete": {
            "delete": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Delete User",
                "operationId": "f8088993efebc204c6ba6135018b70c7",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/category/update": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Profile category update",
                "operationId": "3dc8fd0c11313ed42dbfafd17c56ded1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/store/district": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Profile district",
                "operationId": "db6342292ab39fd7a7ac60fb9cf79de2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "district": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/store/profile-photo": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Profile Photo",
                "operationId": "3a2d669088e22d4d2459c4de2f814b6c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/description": {
            "post": {
                "tags": [
                    "ProfileAPI"
                ],
                "summary": "Profile description",
                "operationId": "0b092dd0f96f96a3e656bc8ef61cb591",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/ref": {
            "get": {
                "tags": [
                    "Refill"
                ],
                "summary": "Get list of Refill",
                "operationId": "dedba959969048c9dffcbf95b3f3db7b",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Ajax error"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/prepare": {
            "post": {
                "tags": [
                    "Refill"
                ],
                "summary": "Create new Prepare",
                "operationId": "be047d6d041f9b738528f406ac67ce1d",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "click_trans_id": {
                                                "type": "integer"
                                            },
                                            "service_id": {
                                                "type": "integer"
                                            },
                                            "click_paydoc_id": {
                                                "type": "integer"
                                            },
                                            "merchant_trans_id": {
                                                "type": "integer"
                                            },
                                            "amount": {
                                                "type": "integer"
                                            },
                                            "action": {
                                                "type": "integer"
                                            },
                                            "error": {
                                                "type": "integer"
                                            },
                                            "error_note": {
                                                "type": "string"
                                            },
                                            "sign_time": {
                                                "type": "string"
                                            },
                                            "sign_string": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "click_trans_id": 1613910471,
                                    "service_id": 19839,
                                    "click_paydoc_id": 1747426201,
                                    "merchant_trans_id": 201,
                                    "amount": 6000,
                                    "action": 0,
                                    "error": 0,
                                    "error_note": "Success",
                                    "sign_time": "2022-02-14 20:56:40",
                                    "sign_string": "0fc2457d6db176d12f96b8af2aa25679"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "click_trans_id": {
                                            "type": "integer",
                                            "example": 1613910471
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": 19839
                                        },
                                        "click_paydoc_id": {
                                            "type": "integer",
                                            "example": 1747426201
                                        },
                                        "merchant_trans_id": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "example": 6000
                                        },
                                        "action": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error_note": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "sign_time": {
                                            "type": "string",
                                            "example": "2022-02-14 20:56:40"
                                        },
                                        "sign_string": {
                                            "type": "string",
                                            "example": "0fc2457d6db176d12f96b8af2aa25679"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/complete": {
            "post": {
                "tags": [
                    "Refill"
                ],
                "summary": "Create new Complete",
                "operationId": "76b5301146da4c9c5a3a45fb55809b5f",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "click_trans_id": {
                                                "type": "integer"
                                            },
                                            "service_id": {
                                                "type": "integer"
                                            },
                                            "click_paydoc_id": {
                                                "type": "integer"
                                            },
                                            "merchant_trans_id": {
                                                "type": "integer"
                                            },
                                            "merchant_prepare_id": {
                                                "type": "integer"
                                            },
                                            "amount": {
                                                "type": "integer"
                                            },
                                            "action": {
                                                "type": "integer"
                                            },
                                            "error": {
                                                "type": "integer"
                                            },
                                            "error_note": {
                                                "type": "string"
                                            },
                                            "sign_time": {
                                                "type": "string"
                                            },
                                            "sign_string": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "click_trans_id": 1613910471,
                                    "service_id": 19839,
                                    "click_paydoc_id": 1747426201,
                                    "merchant_trans_id": 201,
                                    "merchant_prepare_id": 33,
                                    "amount": 6000,
                                    "action": 1,
                                    "error": 0,
                                    "error_note": "Success",
                                    "sign_time": "2022-02-14 20:56:40",
                                    "sign_string": "0fc2457d6db176d12f96b8af2aa25679"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "click_trans_id": {
                                            "type": "integer",
                                            "example": 1613910471
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": 19839
                                        },
                                        "click_paydoc_id": {
                                            "type": "integer",
                                            "example": 1747426201
                                        },
                                        "merchant_trans_id": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "merchant_prepare_id": {
                                            "type": "integer",
                                            "example": 33
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "example": 6000
                                        },
                                        "action": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error_note": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "sign_time": {
                                            "type": "string",
                                            "example": "2022-02-14 20:56:40"
                                        },
                                        "sign_string": {
                                            "type": "string",
                                            "example": "0fc2457d6db176d12f96b8af2aa25679"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/admin/reports": {
            "get": {
                "tags": [
                    "ReportAPI"
                ],
                "summary": "Get list of Reports",
                "operationId": "2896b2a6438f455504f2cb034e2631f3",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/select-performer/{response}": {
            "post": {
                "tags": [
                    "ResponseAPI"
                ],
                "summary": "Select performer",
                "operationId": "511724f24ec6d5f5b3802a2d6f61dbb6",
                "parameters": [
                    {
                        "name": "response",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/search-task": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get list of Tasks and Categories",
                "operationId": "127de8717a061012429b03b03240a847",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/tasks-search": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get list of Tasks",
                "operationId": "fdb13257bd152b1db5c2c5c3e24a63da",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Ajax error"
                    }
                }
            }
        },
        "/api/detailed-tasks/{task}": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get Task by ID",
                "operationId": "c28cc0364c969c91e25be68618f588b9",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/delete-task/{task}": {
            "delete": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Delete Task",
                "operationId": "769179127b589bbb0f0b9354fa5a4744",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/ajax-request": {
            "post": {
                "tags": [
                    "Search"
                ],
                "summary": "Add new task",
                "operationId": "c1da554eab2487a455858b838141274e",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "status": {
                                                "type": "integer"
                                            },
                                            "performer_id": {
                                                "type": "integer"
                                            },
                                            "task_id": {
                                                "type": "integer"
                                            },
                                            "response_desc": {
                                                "type": "string"
                                            },
                                            "comment": {
                                                "type": "string"
                                            },
                                            "name_task": {
                                                "type": "string"
                                            },
                                            "user_id": {
                                                "type": "integer"
                                            },
                                            "good": {
                                                "type": "string"
                                            },
                                            "notificate": {
                                                "type": "string"
                                            },
                                            "response_time": {
                                                "type": "string"
                                            },
                                            "response_price": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "status": 2,
                                    "performer_id": 77,
                                    "task_id": 12,
                                    "response_desc": "Assalomu Aleykum",
                                    "comment": "Яхшимислар",
                                    "name_task": "Янги задача",
                                    "user_id": 77,
                                    "good": "Яхши",
                                    "notificate": "Salom",
                                    "response_time": "77",
                                    "response_price": "300"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "performer_id": {
                                            "type": "integer",
                                            "example": 20
                                        },
                                        "task_id": {
                                            "type": "integer",
                                            "example": 12
                                        },
                                        "response_desc": {
                                            "type": "string",
                                            "example": "Assalomu Aleykum"
                                        },
                                        "comment": {
                                            "type": "string",
                                            "example": "Яхшимислар"
                                        },
                                        "name_task": {
                                            "type": "string",
                                            "example": "Янги задача"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "good": {
                                            "type": "string",
                                            "example": "Яхши"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/same-tasks/{task}": {
            "get": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Same tasks by Task ID",
                "operationId": "120ccd09ca7a2be2153ee7a0f2655447",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/responses/{task}": {
            "get": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Response tasks",
                "operationId": "e40467954638499de8484738d2359d0c",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/task/{task}/response": {
            "post": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Send Response",
                "operationId": "72b3712b916c380767bb13875dd42339",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/tasks-filter": {
            "get": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Task filter",
                "operationId": "01811c7639caa6a28b67d031f8c8be43",
                "parameters": [
                    {
                        "name": "categories",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "budget",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_remote",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "without_response",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "difference",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/task/{task}": {
            "get": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Get Task By ID",
                "operationId": "f81261f5febbe5e9edecf62e8b165e8f",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/my-tasks-count": {
            "get": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Get My Tasks Count",
                "operationId": "72718dc806703c197699e0f060cb0935",
                "parameters": [
                    {
                        "name": "is_performer",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/my-tasks": {
            "get": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Get My Tasks",
                "operationId": "1a716f0c34b249580b5d4194baa5f168",
                "parameters": [
                    {
                        "name": "is_performer",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/create-task/routing": {
            "post": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Routing",
                "operationId": "75bde0adcddefe8478e20c8b7daeb051",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "address": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/task/create": {
            "post": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Task create",
                "operationId": "eaeff5e59900942953b4fdd6602d933b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "date_type": {
                                        "type": "integer"
                                    },
                                    "budget": {
                                        "type": "number"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "photos": {
                                        "type": "file"
                                    },
                                    "phone": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/change-task/{task}": {
            "put": {
                "tags": [
                    "TaskAPI"
                ],
                "summary": "Change task",
                "operationId": "c7d65b35593a76b8531537f6d0d373d4",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "date_type": {
                                        "type": "integer"
                                    },
                                    "budget": {
                                        "type": "number"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "photos": {
                                        "type": "file"
                                    },
                                    "phone": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/for_del_new_task/{task}": {
            "delete": {
                "tags": [
                    "Search"
                ],
                "summary": "Delete Task",
                "operationId": "944c123df58af87508b1e98eda756420",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/task/{task}/complete": {
            "post": {
                "tags": [
                    "UpdateAPI"
                ],
                "summary": "Complete Task",
                "operationId": "34274bcd311837ea8443d39da123d261",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/send-review-user/{task}": {
            "post": {
                "tags": [
                    "UpdateAPI"
                ],
                "summary": "Complete task",
                "operationId": "f440159070ac0fc1e2b350969e9ad62d",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "comment": {
                                        "type": "string"
                                    },
                                    "good": {
                                        "type": "boolean"
                                    },
                                    "status": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/reset": {
            "post": {
                "tags": [
                    "UserAPI"
                ],
                "summary": "Reset password by phone - sending code",
                "operationId": "56a1d9813d571e101444350e67d6dd7d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "phone_number": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/reset/password": {
            "post": {
                "tags": [
                    "UserAPI"
                ],
                "summary": "Enter a New password",
                "operationId": "235c0c336670eb4e95abc202257cb924",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "phone_number": {
                                        "type": "number"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/code": {
            "post": {
                "tags": [
                    "UserAPI"
                ],
                "summary": "Submit SMS code",
                "operationId": "3f40aa2d8aa65af2ec2afb498a175340",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "number"
                                    },
                                    "phone_number": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/delete": {
            "delete": {
                "tags": [
                    "UserAPI"
                ],
                "summary": "Delete User",
                "operationId": "cb2f0570b508943a718fd4db10b9ccb0",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "UserAPI"
                ],
                "summary": "User logout",
                "operationId": "755cf3bc351a4bb58a6c9bce9f16e4fb",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/portfolio_albums/{performer}": {
            "get": {
                "tags": [
                    "PortfolioAPI"
                ],
                "summary": "Get Portfolios By Performer ID",
                "operationId": "dae4aab4cf5115526da387ad1cf885a2",
                "parameters": [
                    {
                        "name": "performer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/portfolio_album/{portfolio}": {
            "get": {
                "tags": [
                    "PortfolioAPI"
                ],
                "summary": "Get Portfolio By Portfolio ID",
                "operationId": "fc334dc503d1acd8733579ecbe993f39",
                "parameters": [
                    {
                        "name": "portfolio",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/profile/delete/portfolio/{portfolio}": {
            "delete": {
                "tags": [
                    "PorfolioAPI"
                ],
                "summary": "Delete portfolio",
                "operationId": "d9c1402c8ec34d5cc23dacc089807a1b",
                "parameters": [
                    {
                        "name": "portfolio",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/profile/portfolio/create": {
            "post": {
                "tags": [
                    "PorfolioAPI"
                ],
                "summary": "Create portfolio",
                "operationId": "787f52e274cd4ab7479c069f1649ed5e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "comment": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Login",
                "operationId": "login",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@admin.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    },
                                    "remember_me": {
                                        "type": "boolean",
                                        "example": "false"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "Profile",
                "operationId": "user",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/refreshToken": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Refresh Token",
                "operationId": "refreshToken",
                "requestBody": {
                    "description": "Refresh Token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Register",
                "operationId": "register",
                "requestBody": {
                    "description": "User Register",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "User 001"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user001@user.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Auth": {},
            "User": {},
            "Links": {
                "properties": {
                    "first": {
                        "description": "First page api link",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=1"
                    },
                    "last": {
                        "description": "Last page api link",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=10"
                    },
                    "prev": {
                        "description": "revious page api link",
                        "type": "string",
                        "example": null
                    },
                    "next": {
                        "description": "Next page api link",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=2"
                    }
                },
                "type": "object"
            },
            "Meta": {
                "properties": {
                    "current_page": {
                        "description": "Current page",
                        "type": "integer",
                        "example": 1
                    },
                    "from": {
                        "description": "From Offset",
                        "type": "integer",
                        "example": 1
                    },
                    "last_page": {
                        "description": "Last page",
                        "type": "integer",
                        "example": 10
                    },
                    "path": {
                        "description": "Current api path",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=2"
                    },
                    "per_page": {
                        "description": "Per page length",
                        "type": "integer",
                        "example": 10
                    },
                    "to": {
                        "description": "To Offset",
                        "type": "integer",
                        "example": 10
                    },
                    "total": {
                        "description": "Total items",
                        "type": "integer",
                        "example": 100
                    },
                    "showCheckboxColumn": {
                        "description": "True if user has bulk delete/action persmission",
                        "type": "boolean",
                        "example": false
                    },
                    "recordsTotal": {
                        "description": "Total items",
                        "type": "integer",
                        "example": 100
                    },
[...]
